.login-page{

display:flex;
height:100vh;
background:#08111f;

}

.login-left{

flex:1;
position:relative;
overflow:hidden;

}

.login-image{

width:100%;
height:100%;
object-fit:cover;
animation:zoom 8s infinite alternate;

}

.image-overlay{

position:absolute;
bottom:80px;
left:60px;
color:black;

}

.image-overlay h1{

font-size:46px;
font-weight:800;
margin-bottom:15px;

text-shadow:0 0 25px #00bfff;

}

.image-overlay p{

font-size:24px;
max-width:420px;
color:#dbe9ff;

}

.login-right{

flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#0d1117;

}

.login-card{

width:430px;

}

@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.08);

}

}
.login-left::after{

content:"";
position:absolute;

width:550px;
height:550px;

background:#00bfff;

filter:blur(140px);

border-radius:50%;

top:50%;
left:50%;

transform:translate(-50%,-50%);

opacity:.25;

animation:glow 3s ease-in-out infinite;

pointer-events:none;

}

@keyframes glow{

0%{

opacity:.18;
transform:translate(-50%,-50%) scale(1);

}

50%{

opacity:.35;
transform:translate(-50%,-50%) scale(1.1);

}

100%{

opacity:.18;
transform:translate(-50%,-50%) scale(1);

}

}